{{<partials-page}}
  {{$encoding}}enctype="multipart/form-data"{{/encoding}}
  {{$page-content}}
    <p>{{#t}}pages.bulk-upload.paragraph1{{/t}}</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>{{#t}}pages.bulk-upload.list1{{/t}}</li>
      <li>{{#t}}pages.bulk-upload.list2{{/t}}</li>
      <li>{{#t}}pages.bulk-upload.list3{{/t}}</li>
      <li>{{#t}}pages.bulk-upload.list4{{/t}}</li>
      <li>{{#t}}pages.bulk-upload.list5{{/t}}</li>
    </ul>

    <div class="image-wrapper">
      <img src="/public/images/csv_example.png" width="100%" alt="Example .csv data format showing columns for Name, Applicant I.D. Job Role and Email Address">
    </div><br>

    {{#fields}}
      {{#renderField}}{{/renderField}}
    {{/fields}}

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        {{#t}}pages.confirmation.warning{{/t}}
      </strong>
    </div>

    <div id="loader-container" class=""></div>
    <div id="onboard-cases">{{#input-submit}}send-emails{{/input-submit}}</div>
  {{/page-content}}
{{/partials-page}}
