{{<partials-page}}
  {{$page-content}}
    <p>{{#t}}pages.bulk-upload.paragraph1{{/t}}</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>{{#t}}pages.bulk-upload.list1{{/t}}</li>
      <li>{{#t}}pages.bulk-upload.list2{{/t}}</li>
      <li>{{#t}}pages.bulk-upload.list3{{/t}}</li>
      <li>{{#t}}pages.bulk-upload.list4{{/t}}</li>
      <li>{{#t}}pages.bulk-upload.list5{{/t}}</li>
    </ul>

    {{#fields}}
      {{#renderField}}{{/renderField}}
    {{/fields}}

    <div id="onboard-cases">{{#input-submit}}send-emails{{/input-submit}}</div>
  {{/page-content}}
{{/partials-page}}
