{{<partials-page}} {{$page-content}}
<p class="govuk-heading-m">{{#t}}pages.declaration-immigration-adviser.paragraph1{{/t}}</p>
<p class="govuk-body">{{#t}}pages.declaration-immigration-adviser.paragraph2{{/t}}</p>
<div class="govuk-form-group">
    {{#textarea}}declaration{{/textarea}}
  </div>
  <p class="govuk-body">{{#t}}pages.declaration-immigration-adviser.paragraph3{{/t}}</p>
  {{#renderField}}declaration-immigration-adviser{{/renderField}} 
 {{#markdown}}declaration-immigration-adviser{{/markdown}}
 <br><br>
 <div class="govuk-checkboxes__item">
    <!-- <input class="govuk-checkboxes__input" id="childIdDocuments-passport" name="childIdDocuments" type="checkbox" value="passport" {{#childPassportChecked}}checked="checked"{{/childPassportChecked}}> -->
    <input class="govuk-checkboxes__input" id="childIdDocuments-passport" name="childIdDocuments" type="checkbox">
    <label class="govuk-label govuk-checkboxes__label" for="childIdDocuments-passport">
      {{#t}}fields.declaration-immigration-adviser.label{{/t}}
    </label>
  </div>
  <br><br>
  <p>You will not be able to change your answer after you submit.</p>
  <br><br>
  {{#input-submit}}confirm-submission{{/input-submit}}
  {{/page-content}}
  {{/partials-page}}