{{<partials-page}}
  {{$page-content}}
  <span class="govuk-label">
    <strong>{{#t}}fields.reason-in-sih.label{{/t}}</strong>
  </span><br>
  <div>{{#t}}fields.reason-in-sih.list-header{{/t}}
  </div>
  <ul>
    <li>{{#t}}fields.reason-in-sih.list1{{/t}}</li>
    <li>{{#t}}fields.reason-in-sih.list2{{/t}}</li>
    <li>{{#t}}fields.reason-in-sih.list3{{/t}} <span><strong>{{#t}}fields.reason-in-sih.list3-bold{{/t}} </strong></span></li>
  </ul><br>
    {{#renderField}}reason-in-sih{{/renderField}}

    <span class="govuk-label">
      <strong>{{#t}}fields.anything-happened-details.label1{{/t}}</strong>
    </span>
    {{#renderField}}has-anything-happened{{/renderField}}

    {{#renderField}}why-not-get-protection{{/renderField}}

    <span class="govuk-label">
        {{#t}}If you have evidence that you would be at risk of serious or irreversible harm, upload it laterin this form{{/t}}
    </span>
    <br>
  {{#input-submit}}continue{{/input-submit}}
  {{/page-content}}
{{/partials-page}}
