{{<partials-page}}
  {{$page-content}}
    {{#input-text}}legal-representative-claimant-fullname{{/input-text}}

    {{#input-text}}legal-representative-claimant-organisation{{/input-text}}

    <span class="govuk-label">
      <strong>{{#t}}pages.immigration-adviser-claimant-details.address{{/t}}</strong>
    </span>
    {{#input-text}}legal-representative-claimant-house-number{{/input-text}}
    {{#input-text}}legal-representative-claimant-street{{/input-text}}
    {{#input-text}}legal-representative-claimant-townOrCity{{/input-text}}
    {{#input-text}}legal-representative-claimant-county{{/input-text}}
    {{#input-text}}legal-representative-claimant-postcode{{/input-text}}<br>
    {{#input-text}}legal-representative-claimant-phone-number{{/input-text}}
    <span class="govuk-label">
      <strong>{{#t}}pages.is-legal-representative-email{{/t}}</strong>
    </span>
    {{#renderField}}is-legal-representative-email{{/renderField}}
    {{#input-submit}}continue{{/input-submit}}
  {{/page-content}}
{{/partials-page}}
