{{<partials-page}}
  {{$page-content}}
    {{#input-text}}legal-representative-named-person-fullname{{/input-text}}

    {{#input-text}}legal-representative-named-person-organisation{{/input-text}}

    <span class="govuk-label">
      <strong>{{#t}}pages.immigration-adviser-named-person-details.address{{/t}}</strong>
    </span>
    {{#input-text}}legal-representative-named-person-house-number{{/input-text}}
    {{#input-text}}legal-representative-named-person-street{{/input-text}}
    {{#input-text}}legal-representative-named-person-townOrCity{{/input-text}}
    {{#input-text}}legal-representative-named-person-county{{/input-text}}
    {{#input-text}}legal-representative-named-person-postcode{{/input-text}}
    {{#input-text}}legal-representative-named-person-phone-number{{/input-text}}
    {{#renderField}}legal-representative-named-person-email{{/renderField}}
    <br>
    {{#input-submit}}continue{{/input-submit}}
  {{/page-content}}
{{/partials-page}}
