{{<partials-page}}
  {{$page-content}}
    <p>{{#t}}fields.is-risk-in-country.paragraph{{/t}}</p>
        <span>{{#t}}fields.is-risk-in-country.list-header{{/t}}</span>
        <ul>
            <li>{{#t}}fields.is-risk-in-country.list1{{/t}}</li>
            <li>{{#t}}fields.is-risk-in-country.list2{{/t}}</li>
            <li>{{#t}}fields.is-risk-in-country.list3{{/t}}</li>
            <li>{{#t}}fields.is-risk-in-country.list4{{/t}}</li>
            <li>{{#t}}fields.is-risk-in-country.list5{{/t}}</li>
        </ul>
   
     {{#renderField}}is-risk-in-country{{/renderField}}

    {{#input-submit}}continue{{/input-submit}}
  {{/page-content}}
{{/partials-page}}
