{{<partials-page}}
{{$pageTitle}}{{#t}}pages.confirmation.panel.heading{{/t}} – GOV.UK{{/pageTitle}}
  {{$page-content}}
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        {{#t}}pages.confirmation.panel.heading{{/t}}
      </h1>
      <div class="govuk-panel__body">
        {{#t}}pages.confirmation.panel.text{{/t}}
      </div>
    </div>
    <br />
    <h2 class="govuk-heading-m">{{#t}}pages.confirmation.what-next.heading{{/t}}</h2>
    <p class="govuk-body">{{#t}}pages.confirmation.what-next.para1{{/t}}</p>
    <p class="govuk-body">{{#t}}pages.confirmation.what-next.para2{{/t}}</p>
  {{/page-content}}
{{/partials-page}}
